/************* Boxes ***********/


.header-box {
  @apply relative h-[15px] w-[337px] hidden xl:block ml-auto mr-[60px]

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/header/header.svg")]
  after:bg-no-repeat
  after:h-full
  after:w-full
  after:right-0
  after:bottom-0
}

.footer-box {
  @apply relative h-[15px] w-[337px] hidden xl:block ml-5

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/footer/footer.svg")]
  before:bg-no-repeat
  before:h-full
  before:w-full
  before:left-0
  before:top-0
}

.swap-box-top {
  @apply relative
  left-0
  right-0
  bottom-full
  h-[70px]
  overflow-hidden
  hidden
  xl:block

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/swap/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.swap-box-bottom {
  @apply relative
  hidden
  xl:block
  left-0
  right-0
  top-full
  h-[60px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/swap/bottom.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}


.main-box-top {
  @apply relative
  left-0
  right-0
  hidden
  xl:block
  bottom-full
  h-[80px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/main/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.main-box-bottom {
  @apply relative
  left-0
  right-0
  hidden
  xl:block
  top-full
  h-[80px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/main/bottom.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.steps-box-top {
  @apply relative
  left-0
  right-0
  hidden
  xl:block
  bottom-full
  h-[60px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/steps/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.steps-box-bottom {
  @apply relative
  left-0
  right-0
  hidden
  xl:block
  top-full
  h-[60px]
  overflow-hidden
  rotate-180

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/steps/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}


.exchange-box-x1 {
  @apply relative bg-shark-400 bg-opacity-40 w-full rounded-xl pl-4 xl:pl-8 pr-4 xl:pr-6 py-6

  before:hidden
  xl:before:block
  before:absolute
  before:w-0
  before:h-0
  before:top-[-21px]
  before:left-[20px]
  before:rotate-[89deg]
  before:border-solid
  before:border-t-[40px]
  before:border-r-[40px]
  before:border-b-[40px]
  before:border-[transparent_transparent_#1b1d21]

  after:hidden
  xl:after:block
  after:absolute
  after:w-0
  after:h-0
  after:bottom-[-14px]
  after:right-[12px]
  after:rotate-[-91deg]
  after:border-solid
  after:border-t-[25px]
  after:border-r-[25px]
  after:border-b-[25px]
  after:border-[transparent_transparent_#1b1d21];
}


.exchange-box-x2 {
  @apply relative bg-shark-400 bg-opacity-40 w-full rounded-xl pl-4 xl:pl-8 pr-4 xl:pr-6 py-6

  before:hidden
  xl:before:block
  before:absolute
  before:w-0
  before:h-0
  before:top-[-14px]
  before:right-[12px]
  before:rotate-[274deg]
  before:border-solid
  before:border-t-[25px]
  before:border-l-[25px]
  before:border-b-[25px]
  before:border-[transparent_transparent_#1b1d21]

  after:hidden
  xl:after:block
  after:absolute
  after:w-0
  after:h-0
  after:bottom-[0px]
  after:left-[-1px]
  after:rotate-[-362deg]
  after:border-solid
  after:border-t-[30px]
  after:border-r-[30px]
  after:border-b-[30px]
  after:border-[transparent_transparent_#1b1d21];
}

.process-box {
  @apply relative flex flex-col items-center justify-center p-4 px-3 rounded-lg bg-shark-400 bg-opacity-40

  before:hidden
  xl:before:block
  before:absolute
  before:w-0
  before:h-0
  before:top-[-16px]
  before:left-[15px]
  before:rotate-[89deg]
  before:border-solid
  before:border-t-[30px]
  before:border-r-[30px]
  before:border-b-[30px]
  before:border-[transparent_transparent_#111315]

  after:hidden
  xl:after:block
  after:absolute
  after:w-0
  after:h-0
  after:bottom-[-16px]
  after:right-[15px]
  after:rotate-[-91deg]
  after:border-solid
  after:border-t-[30px]
  after:border-r-[30px]
  after:border-b-[30px]
  after:border-[transparent_transparent_#141619];
}

.box {
  @apply relative bg-shark-400 bg-opacity-40 w-full rounded-xl pl-4 xl:pl-5 pr-4 xl:pr-3 py-3

  before:hidden
  xl:before:block
  before:absolute
  before:w-0
  before:h-0
  before:bottom-[0px]
  before:left-[-1px]
  before:rotate-[-1deg]
  before:border-solid
  before:border-t-[20px]
  before:border-r-[20px]
  before:border-b-[20px]
  before:border-[transparent_transparent_#1d1f21]

  after:hidden
  xl:after:block
  after:absolute
  after:w-0
  after:h-0
  after:top-[-1px]
  after:right-[-1px]
  after:rotate-[181deg]
  after:border-solid
  after:border-t-[20px]
  after:border-r-[20px]
  after:border-b-[20px]
  after:border-[transparent_transparent_#1d1f21];
}

.address-check-box {
  @apply relative bg-shark-400 bg-opacity-40 w-full rounded-xl pl-4 xl:pl-5 pr-4 xl:pr-3 py-3

  before:hidden
  xl:before:block
  before:absolute
  before:w-0
  before:h-0
  before:bottom-[0px]
  before:left-[-1px]
  before:rotate-[-1deg]
  before:border-solid
  before:border-t-[20px]
  before:border-r-[20px]
  before:border-b-[20px]
  before:border-[transparent_transparent_#111316]

  after:hidden
  xl:after:block
  after:absolute
  after:w-0
  after:h-0
  after:top-[-1px]
  after:right-[-1px]
  after:rotate-[181deg]
  after:border-solid
  after:border-t-[20px]
  after:border-r-[20px]
  after:border-b-[20px]
  after:border-[transparent_transparent_#111316];
}

.total-migrated-box {
  @apply relative bg-shark-400 bg-opacity-40 w-full rounded-xl pl-4 xl:pl-5 pr-4 xl:pr-3 py-3

  before:hidden
  xl:before:block
  before:absolute
  before:w-0
  before:h-0
  before:bottom-[0px]
  before:left-[-1px]
  before:rotate-[-1deg]
  before:border-solid
  before:border-t-[20px]
  before:border-r-[20px]
  before:border-b-[20px]
  before:border-[transparent_transparent_#111316]

  after:hidden
  xl:after:block
  after:absolute
  after:w-0
  after:h-0
  after:top-[-1px]
  after:right-[-1px]
  after:rotate-[181deg]
  after:border-solid
  after:border-t-[20px]
  after:border-r-[20px]
  after:border-b-[20px]
  after:border-[transparent_transparent_#251613];
}
