@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fontello.css');

body {
  @apply h-full text-base bg-shark-900;
  scroll-behavior: smooth;
}

/************* ScrollBar ***********/
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container {
  @apply max-w-[1760px] mx-auto px-5;
}

/************* Button ***********/

.button {
  @apply flex items-center justify-center px-5 py-3 text-sm font-normal transition rounded-lg focus:outline-none;
}
.button-default {
  @apply text-white hover:text-outrageous-orange-400;
}
.button-primary {
  @apply text-white border border-outrageous-orange-400 bg-button-primary hover:bg-button-primary-hover;
}
.button-secondary {
  @apply text-white bg-transparent border border-transparent hover:bg-shark-400 hover:border-shark-300 hover:text-outrageous-orange-400;
}
.button-tertiary {
  @apply text-white border bg-shark-400 border-shark-300 hover:bg-button-primary hover:border-outrageous-orange-400;
}

/************* Header ***********/

.header {
  @apply relative
  h-[105px]
  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/header/SVG/left-side.svg")]
  before:bg-no-repeat
  before:h-[87px]
  before:w-[calc(100%-397px)]
  before:left-0
  before:top-0
  before:bg-cover
  before:backdrop-blur-[5px]

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/header/SVG/right-side.svg")]
  after:bg-no-repeat
  after:h-[105px]
  after:w-[397px]
  after:right-0
  after:top-0
  after:backdrop-blur-[5px];
}

/************* Footer ***********/

.footer {
  @apply relative
  h-[102px]
  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/footer/SVG/left-side.svg")]
  before:bg-no-repeat
  before:h-[102px]
  before:w-[352px]
  before:left-0
  before:bottom-0
  before:backdrop-blur-[5px]

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/footer/SVG/right-side.svg")]
  after:bg-no-repeat
  after:h-[88px]
  after:w-[calc(100%-352px)]
  after:right-0
  after:bottom-0
  after:bg-cover
  after:backdrop-blur-[5px]
  after:bg-right;
}

.read-more-modal {
  @apply pt-[68px] pb-[64.1px] w-[603.249px];
}

.read-more-modal .top {
  @apply absolute
  left-0
  right-0
  top-0
  h-[68px]

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/modals/liquidity/SVG/top.svg")]
  before:bg-no-repeat
  before:h-[68px]
  before:w-1/2
  before:left-0
  before:top-0
  before:bg-cover

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/modals/liquidity/SVG/top.svg")]
  after:bg-no-repeat
  after:h-[68px]
  after:w-1/2
  after:right-0
  after:top-0
  after:bg-cover
  after:bg-right;
}

.read-more-modal .bottom {
  @apply absolute
  left-0
  right-0
  bottom-0
  h-[64px]

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/modals/liquidity/SVG/bottom.svg")]
  before:bg-no-repeat
  before:h-[64px]
  before:w-1/2
  before:left-0
  before:bottom-0
  before:bg-cover

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/modals/liquidity/SVG/bottom.svg")]
  after:bg-no-repeat
  after:h-[64px]
  after:w-1/2
  after:right-0
  after:bottom-0
  after:bg-cover
  after:bg-right;
}

.read-more-modal .scroll-box::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 10px;
  margin-right: 10px;
}

.read-more-modal .scroll-box::-webkit-scrollbar-track {
  /* Customize the scrollbar track */
  background: transparent;
  border: #292D32 10px solid;
}

.read-more-modal .scroll-box::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background: white;
  border-radius: 10px;
  width: 5px;
  border: 3px solid #292D32;
}

.box-invert {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon(20px 0px, 326px 0px, 335px 75px, 310px 108px, 0px 106px, 0px 20px);
}

.box-small {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon( 0px 0px, 136px 0px, 150px 13px, 160px 90px, 137px 139px, 0px 49px);
}

.box-medium {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon(100% 100%, 100% 100.71%, 100% 19%, 95.5% 0%, 100.29% 0%, 0% 0%, 0% 83.71%, 3.29% 100%)
}

.box-large {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon(100% 100%, 100% 100.71%, 100% 19%, 98.5% 0%, 100.29% 0%, 0% 0%, 0% 80.71%, 1.29% 100%)
}
