@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fontello.css');

body {
  @apply h-full text-base bg-shark-900;
  scroll-behavior: smooth;
}

/************* ScrollBar ***********/
::-webkit-scrollbar {
  @apply mr-[10px] w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-white rounded-xl w-2 border-4 border-solid border-shark-400;
}

/************* Button ***********/

.button {
  @apply flex items-center justify-center px-5 py-3 text-sm font-normal transition rounded-lg focus:outline-none;
}
.button-default {
  @apply text-white hover:text-outrageous-orange-400;
}
.button-primary {
  @apply text-white border border-outrageous-orange-400 bg-button-primary hover:bg-button-primary-hover;
}
.button-secondary {
  @apply text-white bg-transparent border border-transparent hover:bg-shark-400 hover:border-shark-300 hover:text-outrageous-orange-400;
}
.button-tertiary {
  @apply text-white border bg-shark-400 border-shark-400 hover:bg-button-primary hover:border-outrageous-orange-400;
}

/************* Header ***********/

.header {
  @apply relative
  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/header/header.svg")]
  after:bg-no-repeat
  after:h-[15px]
  after:md:w-[350px]
  after:w-[260px]
  after:md:right-[40px]
  after:right-0
  after:top-full
}

/************* Footer ***********/

.footer {
  @apply relative

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/footer/footer.svg")]
  after:bg-no-repeat
  after:h-[12px]
  after:md:h-[15px]
  after:md:w-[350px]
  after:w-[260px]
  after:md:right-[40px]
  after:left-5
  after:bottom-full
}

.read-more-modal {
  @apply pt-[68px] pb-[64.1px] w-[603.249px];
}

.read-more-modal .top {
  @apply absolute
  left-0
  right-0
  top-0
  h-[68px]

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/modals/liquidity/SVG/top.svg")]
  before:bg-no-repeat
  before:h-[68px]
  before:w-1/2
  before:left-0
  before:top-0
  before:bg-cover

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/modals/liquidity/SVG/top.svg")]
  after:bg-no-repeat
  after:h-[68px]
  after:w-1/2
  after:right-0
  after:top-0
  after:bg-cover
  after:bg-right;
}

.read-more-modal .bottom {
  @apply absolute
  left-0
  right-0
  bottom-0
  h-[64px]

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/modals/liquidity/SVG/bottom.svg")]
  before:bg-no-repeat
  before:h-[64px]
  before:w-1/2
  before:left-0
  before:bottom-0
  before:bg-cover

  after:content-[""]
  after:absolute
  after:bg-[url("/static/images/modals/liquidity/SVG/bottom.svg")]
  after:bg-no-repeat
  after:h-[64px]
  after:w-1/2
  after:right-0
  after:bottom-0
  after:bg-cover
  after:bg-right;
}

.main-box-top {
  @apply absolute
  left-0
  right-0
  top-0
  h-[50px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/main/top.svg")]
  before:bg-no-repeat
  before:h-[15px]
  before:md:h-[35px]
  before:2xl:h-[45px]
  before:w-full
  before:left-0
  before:top-0
  before:bg-cover
}

.main-box-bottom {
  @apply absolute
  left-0
  right-0
  bottom-0
  h-[64px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/main/bottom.svg")]
  before:bg-no-repeat
  before:h-[25px]
  before:md:h-[50px]
  before:2xl:h-[65px]
  before:w-full
  before:left-0
  before:bottom-0
  before:bg-cover
}

.steps-box-top {
  @apply absolute
  left-0
  right-0
  top-0
  h-[47px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/steps/top.svg")]
  before:bg-no-repeat
  before:h-[27px]
  before:md:h-[47px]
  before:w-full
  before:left-0
  before:top-0
  before:bg-cover
}

.steps-box-bottom {
  @apply absolute
  left-0
  right-0
  bottom-0
  h-[50px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/steps/bottom.svg")]
  before:bg-no-repeat
  before:h-[32px]
  before:md:h-[52px]
  before:w-full
  before:left-0
  before:bottom-0
  before:bg-cover
}

.box-invert {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon(20px 0px, 326px 0px, 335px 75px, 310px 108px, 0px 106px, 0px 20px);
}
.box-small {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon( 0px 0px, 136px 0px, 150px 13px, 160px 90px, 137px 139px, 0px 49px);
}

.box-medium {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon(100% 100%, 100% 100.71%, 100% 19%, 95.5% 0%, 100.29% 0%, 0% 0%, 0% 83.71%, 3.29% 100%)
}

.box-large {
  @apply rounded-lg bg-shark-400 bg-opacity-40;
  clip-path: polygon(100% 100%, 100% 100.71%, 100% 19%, 98.5% 0%, 100.29% 0%, 0% 0%, 0% 80.71%, 1.29% 100%)
}



